@font-face {
    font-family: Proxima;
    src:  url(../font/ProximaNova.otf) format("opentype");
}
.light{
    --main-color: #2A2D35;
    --secondary-background: rgba(255,255,255,0.7);
    --main-background-color: #EEEEEE;
    --filter: blur(200px);
    --svg-color: rgba(0, 0, 0, 0.5);
    --modal-color: white;

}
.dark{
    --main-color: white;
    --secondary-background: rgba(0,0,0,0.5);
    --main-background-color: #12121C;
    --filter: blur(100px);
    --svg-color: rgba(255, 255, 255, 0.7);
    --modal-color: #12121C;
}

*{ margin: 0; padding: 0; box-sizing: border-box;  }
html{
    width: 100%;
    height: 100vh

}
body{
    width: 100%;

    font-family: 'Proxima', 'sans-serif';
    font-weight: 300;
    font-size: 120%;
    color: var(--main-color);
    overflow-y: scroll;
    background: var(--main-background-color);
}
nav{
     width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 75px;
    padding: 0px 5%;
    background-color: var(--secondary-background);
    color: var(--main-color);
    z-index: 1;
}
a{
    color: var(--main-color)
}
nav a{
    text-decoration: none;
    text-align: center;
}
.header-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.indexText{
   position: absolute;
   text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: black;
    text-align: center;
    font-size: 3rem;
    animation: blinker 10s linear infinite;
	text-shadow: 0px 0px 21px black;
    transition: 1s ease;
    letter-spacing: 5px;
}
@keyframes blinker {
	50% {
		opacity: 0.8;
		color: white;
	}
}

input{
    width: 100%;
    height: 45px;
    padding: 0px 50px 0px 10px;
    font-family: 'Proxima', sans-serif;
    font-weight: 300;
    font-size: 100%;
    background: transparent;
    border: 0;
    color: var(--main-color);;
    border-bottom: 1px solid var(--main-color);
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
textarea{
    width: 100%;
    height: 100%;
    min-height: 100px;
    padding: 0px 50px 0px 10px;
    font-family: 'Proxima', sans-serif;
    font-weight: 300;
    font-size: 100%;
    background: transparent;
    border: 0;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
h3{
    letter-spacing: 3px;
}
.centeredForms {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    justify-content: center;
    max-width: 700px;
    margin: 100px auto;
    text-align: center;
    background-color:  black;

}
input.invalid{
    border: 2px solid red;
}
.page{
    position: relative;
    padding: 50px 5%  5%;

}
/*************************  INDEX   Page *************************/

.imageContainer{
    width: 100%;
    height: 80vh;
    background-image: url("../images/app/1new.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-color: rgba(0,0,0,0.2);
    filter: blur(60px);
    opacity: 0.5

}
.mainContainer{
    margin-top: 5%
}
.flexButtonContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

}
button{
    border: 1px solid var(--main-color);;
    background-color: transparent;
    color: var(--main-color);
    width: 100%;
    max-width: 150px;
    padding: 10px;
    margin:  10px;
    }


button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img#uploadButton{
   opacity: 0.7;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px

}
button:hover{
    background-color: #0cc;
    border: 1px solid #0cc;
}
button.active{
    background-color: #0cc;
    border: 1px solid #0cc;
}
.backButton{
    margin-top: 50px;
}
/*************************  MODAL *************************/
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--modal-color);
    color: var(--main-color);
    margin: 15% auto;
    padding: 5%;
    border: 1px solid var(--main-color);;
    width: 100%;
    max-width: 700px
}
.modal-content h3{
    text-align: center;
    margin: 20px
}
.modalPostView{
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.profileGridContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr ;
}
/************************************ Images grid display ************************/
.imagesListDisplay{
    -webkit-column-count: 3;
    -moz-column-count:3;
    column-count: 3;
    padding: 0;
    font-size: .85em;
    margin-top: 20px ;
}

div.post{
    position: relative;
    overflow: hidden;

}
.imageHeader{
    display: inline-flex;

}
.imageHeaderImg img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
    object-fit: cover;
}
.nameAndDate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    opacity: 0.5;
}
#imageProfile img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
div.image{
    display: inline-block;
    padding: 1.5em 2em;
    margin: 0 0 1.5em;
    width: 100%;
    height: auto;
    -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative
}
.backgroundImage{
    position: absolute;
    left:0;
    top: 0;
    width:100%;
    height: 100%;
    filter: var(--filter);

}
img.images{
    width: 100%
}

div.image img{
    max-width:100%;
}
@media only screen and (max-width: 600px) {
    .imagesListDisplay {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px){
    .imagesListDisplay {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1001px) {
    .imagesListDisplay {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
svg.green{
    fill: green;
}
#imageEmotionDisplay{
    position: relative;
}

.emotions{
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 30px;
    text-align: right;
    background: var(--secondary-background);
    padding: 2px

}
.emotions span {
    margin-left: 10px
}

img.thumbnail{
    width: 200px;
    height: auto;
}
svg.green{
    fill: #0cc !important;
}

svg{
    fill: var(--svg-color);;
}
.flexBox{
    display: flex;
}
.description{
    word-wrap: break-word;
}
.aperture {
    position: absolute;
    opacity: 0.5;
    top: 30%;
    left: 50%;
    background-color: rgba(255,255,255, 0.1);
    width: 200px;
    height: 200px;
    border: 5px solid #0cc;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}
.logo{
    position: relative;
    top: 30px;
    left: 20px;
    width: 55px;
    height: 55px
}
.diaphragm {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.diaphragm div {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #0cc;
    width: 50%;
    height: 29%;
}

.diaphragm div:nth-child(1) {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.diaphragm div:nth-child(2) {
    -webkit-transform: translate(-50%, -50%) rotate(60deg);
    transform: translate(-50%, -50%) rotate(60deg);
}

.diaphragm div:nth-child(3) {
    -webkit-transform: translate(-50%, -50%) rotate(-60deg);
    transform: translate(-50%, -50%) rotate(-60deg);
}

.diaphragm div:before,
.diaphragm div:after {
    content: '';
    position: absolute;
    background-color: inherit;
    width: 1px;
    height: 300%;
    display: block;
}

.diaphragm div:before {
    top: 0px;
    left: 0px;
}

.diaphragm div:after {
    bottom: 0px;
    right: 0px;
}

.aperture:hover .diaphragm {
    transform: rotate(35deg) scale(.8);
    -webkit-transition: all .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all .35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
#logoNav{
    display: flex;
    align-items: center;

}
#logoName{
    color: #0cc;
    margin-right: 10px
}
.fa-2x {
    font-size: 1.5em;
}
.center{
    margin: 0 auto;
    text-align: center;
}
.noPosts{
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}
#goToAnotherUserPage{
    width: 100%
}
/*////////////////Toggle///////////////////////*/
.theme-toggle {
    --size: 25px;

    position: relative;
    width: calc(var(--size) * 2);
    height: var(--size);
    background: var(--main-color);
    border-radius: 15px;
}

.theme-toggle label {
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translateY(-52%);
    width: var(--size);
    height: var(--size);
    background-color: #0cc;
    border-radius: 50%;
    transition: 150ms left;
    cursor: pointer;
    border: 2px solid #0cc;
    z-index: 1
}

input[type=checkbox]:checked ~ label {
    left: calc(100% - var(--size));
}

.theme-toggle input[type=checkbox] {
    display: none
}

.theme-toggle span {
    position: absolute;
    top: 0;
    left: calc(100% - 23px);
}

.theme-toggle .on {
    left: 2.5px;
}

input[type=checkbox]:checked ~ .on {
    display: block;
}
#mobile-menu {
    display: none ;
  }
  .hidden {
    display: none!important;
  }
@media only screen and (max-width: 550px) {
    .indexText{
        font-size: 1rem;
    }
    .aperture{
        width: 100px;
        height: 100px;
    }
    .centeredForms {
        margin: 50px auto;
        padding: 20px;

    }
    .logo.aperture  {
        width: 50px;
        height: 50px;
        left: 10px
    }
    #logoName{
        display: none
    }
   nav{

       height: 55px
   }
   .page{
       padding: 100px 5% 5%;
   }
    .pullRight{display: none}

    .modal-content{
        width: 100%
    }
   #mobile-menu{
       display: -webkit-box;
   }
    .sidenav {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: var(--main-background-color);
        overflow-x: hidden;
        transition: 0.5s;
      }
    
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
          color: var(--main-color);
        display: block;
        transition: 0.2s;
        text-align: center;
      }
    
      .sidenav a:hover {
        color: #ffda42;
      }
    
      .nav-links {
        margin-top: 150px;
      }
    
      .hidden {
        display: none;
      }
    
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 25px;
        padding: 10px 25px;
      }
    
      #openNav {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 25px;
        font-size: 25px;
        z-index: 1;
      }

       header{
        display: none !important;
      }
    .profileGridContainer{
        grid-template-columns: 1fr;
    }
    h2{
        font-size: 1em;
    }
    h4{
        font-size: 0.8em
    }
}