
.light{
    --background: white;
    --hover-background: #E1E1E1;

}
.dark{
    --background: rgba(0,0,0,0.3);
    --hover-background: #A4A4A4;

}

form#frmSearch, form#frmSearchHashtags{
    position: relative;


}
form#frmSearch svg.searchIcon, form#frmSearchHashtags svg.searchIcon {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    width: 25px

}
.pageSearch{
    background: var( --background);
    margin: 50px auto 0px auto;
    max-width: 950px;
}
.searchContainer{

    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
#nameList{
    text-align: left;
    width: 100%
}
#nameList div{
    padding: 10px;
    border-bottom: 1px solid #888888;
}
#nameList div:last-child {
    border: none;
}
#nameList div:hover {
    
    background: var( --hover-background);
}

.searchImages{
    width: 60px;
    height: 60px;
    border-radius: 50%
}
img.searchImages{
    object-fit: cover;
}
.searchDiv span{
    font-size: 10;
}

.FollowBox{
    display: flex;
    justify-content: space-between;
    width: 100%
}
.subnavSearch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width:100%;
    max-width: 800px;
    margin: 50px auto 0px auto;
    padding: 20px;
}
.emotions.search span{
    margin: 0px
}

#searchHashtags svg{
    width: 15px;
    margin: 0px;
}

@media only screen and (max-width: 480px) {

    .subnavSearch{
        grid-template-columns:  1fr 1fr;

    }

    .followBtn{
        width: fit-content;
        height: fit-content;
    }
    #nameList div{
        padding: 0;
        padding-top: 5px;
        padding-left: 2px;
        padding-bottom: 5px
    }
    .searchDiv{
        padding: 5px;

    }



}

