.light{
    --main-color: #2A2D35;
    --secondary-background: rgba(255,255,255,0.7);
    --main-background-color: #EEEEEE;
    --filter: blur(200px);
    --svg-color: rgba(0, 0, 0, 0.5);
    --modal-color: white;

}
.dark{
    --main-color: white;
    --secondary-background: rgba(0,0,0,0.5);
    --main-background-color: #12121C;
    --filter: blur(100px);
    --svg-color: rgba(255, 255, 255, 0.7);
    --modal-color: #12121C;
}
#imageProfile {
    width: 200px;
    height: 200px;
    margin: 0 auto
}
#imageProfile  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;

}
img.thumbnail{
    border-radius: 50%;
}
.profileInfoGridContainer{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center ;
}


.borderBottom{
    border-bottom: 1px solid white;
}
.borderRight{
    border-right: 1px solid white
}
.ProfileButtonContainer{
    text-align: center;
}
.ProfileInfoContainer, .profileImageContainer, .profileInfoGridContainer{
    padding: 20px;
    background-color: var( --secondary-background);
    margin: 10px
}

.deleteContainer{
    margin-top: 20px
}
.deleteContainer i{
    opacity: 0.7
}


@media only screen and (max-width: 560px){
    .ProfileInfoContainer{
        text-align: center

    }
}